*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #070140;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 100%;
}
header{
  background-color: #070140;
  border-bottom: 1px solid rgba(0, 242, 254, 0.1);
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav_izquierda{
  display: flex;
  gap: 30px;
  justify-content: center;
}
.nav_derecha{
  display: flex;
  gap: 30px;
  justify-content: center;
}

#logo{
  width: 120px;
  justify-content: center;
  padding: 20px;
  border: none;
  height: 120px;
}

a{
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

#Inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    height: 100vh;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
}
#Inicio h2 {
    font-size: 36px;
    margin-bottom: 1rem;
    color: #00F2FE;
}
#Inicio p {
    font-size: 23px;
    margin-bottom: 1rem;
    padding: 20px;
    line-height: 1.5;
    color: #000000;
}
.btnRegistrar {
    background-color: #070140;
    border: 1px solid #00F2FE;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    align-self: center;
}
.btnRegistrar:hover {
    background-color: #0056b3;
    box-shadow: 10px 10px 25px rgba(1, 204, 255, 0.3);
    border: 2px solid #00C2CB;
}
.empleo-card{
    background-color: #0b0354;
    border: 1px solid #00F2FE;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
}
.empleo-card:hover {
    box-shadow: 0 0 30px rgba(1, 204, 255, 0.3);
    border: 2px solid #00C2CB;
    transform: translateY(-2px);
}
footer {
    background-color: #070140;
    border-top: 3px solid rgba(0, 242, 254, 0.15);
    text-align: center;
    padding: 20px;
    color: #cbd4df;
}
.Incio_Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    padding: 20px;
    flex: 1;
}
#Empleos h2{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff2f2;
}

#Empleos {
 width: 100%;
 padding: 20px;
}

.btnAplicar {
    background: linear-gradient(135deg, #00C2CB, #00F2FE);
    color: #fcfcfc;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    align-self: center;
}
p {
    color: #cbd4df;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 10px;
}
h3 {
    color: #f3feff;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
img {
    width: 50%;
    height: 150px;
    align-self: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #00F2FE;
}
.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.redes-sociales ion-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}
