*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
}
header{
  background-color: #12004d;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav_izquierda{
  display: flex;
  gap: 30px;
  justify-content: center;
}
.nav_derecha{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.logo img{
  width: 120px;
  justify-content: center;
  padding: 20px;
}

a{
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

#Inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    height: 100vh;
    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center;
}
#Inicio h2 {
    font-size: 36px;
    margin-bottom: 1rem;
    color: #07e0f0;
}
#Inicio p {
    font-size: 23px;
    margin-bottom: 1rem;
    padding: 20px;
    line-height: 1.5;
    color: #000000;
}
.btnRegistrar {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    align-self: center;
}
.btnRegistrar:hover {
    background-color: #0056b3;
}
.empleo-card{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    
}
#Contacto{
    background-color: #fd0101;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.Incio_Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px, 10em 1fr;
    gap: 2rem;
    padding: 20px;
}
#Empleos h2{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffff;
}

#Empleos {
 width: 100%;
 height: 100vh;
 padding: 20px;
}